* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Amatic SC';
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
    font-size: 22px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-family: 'Amatic SC';
    font-size: 22px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.red_button {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.red_button:hover {
    background-color: #f44336;
    color: white;
}

#aircrafts_table {
    font-family: 'Amatic SC';
    border-collapse: collapse;
    width: 100%;
}

#aircrafts_table td, #aircrafts_table th {
    padding: 8px;
}

#aircrafts_table tr:nth-child(even){background-color: #f2f2f2;}

#aircrafts_table tr:hover {background-color: #ddd;}

#aircrafts_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(69, 101, 104);
    color: white;
}
